@import "tailwindcss";

:root {
  --color-primary: #5656b5;
  --color-secondary: #121245;
  --color-primary-light: #c7c7fa;
  --color-yellow: #f3b12a;
  --color-yellow-light: #ffe08a;
  --color-black: #000000;
  --color-dark: #1e1e1e;
  --color-dark-gray: #929292;
  --color-gray: rgb(236, 236, 236);
  --color-light: #fafafa;
  --color-white: #ffffff;
  --color-primary-tint: #eeeefb;
  --font-main: "Montserrat", sans-serif;

  --color-primary-to-white: var(--color-primary);
  --color-dark-to-yellow: #1e1e1e;
  --color-white-to-primary: white;
}

.dark {
  --color-primary: #121245;
  --color-white: #ffffff;
  --color-primary-to-white: #fff;
  --color-primary-light: #c7c7fa;
  --color-yellow: #f3b12a;
  --color-black: #ffffff;
  --color-white: #1e1e1e;
  --font-main: "Montserrat", sans-serif;

  --color-dark-to-yellow: #f3b12a;
  --color-white-to-primary: var(--color-primary);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-light);
  color: var(--color-dark);
}

main {
  scroll-snap-type: y mandatory;
}

.opacity-50 {
  opacity: 0.5;
}

section:not(#contacto) {
  scroll-padding-top: 400px !important;
  /* margin-bottom: 30px; */
}

.sticky-top-0 {
  position: sticky;
  top: 0;
}

.fade-hidden,
.fade-visible {
  transition: opacity 1s ease, transform 1s ease;
}

.fade-hidden {
  opacity: 0;
  transform: translateX(40px) scale(0.9);
}

.fade-visible {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

.animate-slide-left {
  animation: slide-left 40s linear infinite;
}

.paused {
  animation-play-state: paused !important;
}

.mask-gradient {
  mask-image: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.bg-ribbon{
  background-image: url('/img/ribbon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-ribbon-2{
  background-image: url('/img/ribbon-2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.dark-body {
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 1s ease-out forwards;
}
